# This command explicitly includes the entire directory and all of its contents
graft dist/seimodel

#- to include the README in the source distribution
exclude README.md
include LICENSE.txt
include LICENSE-MIT.txt
prune src